$purpleLight: #302043;
$purpleDark: #282639;
$greenNeon: #91CF48;
$greyLight: #FAF6F9;
$greyDark: #EAEDF3;

// variáveis da grade
$grid-columns: 12;
$grid-max-width: 65em;


// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

